build*
*.exe
*.user
5-Calculation-Distribution-Quantification-Python/_pycache_/*
5-Calculation-Distribution-Quantification-Python/_pycache_
5-Calculation-Distribution-Quantification-Python/.idea/*
5-Calculation-Distribution-Quantification-Python/.idea